header { background: rgba(16,201,201, 80%);
	text-align: center;
	padding: 50px;
	margin: 0 auto;

}

p {
	color: white;
}
body {
	background: #878a88;
	margin: 0 auto;
}
a {
	background-image: 
}
/* description */

#first {
	text-align: center;
	
}

.experience {


}


.projects {

}


.education{

}
